{% load static %}

<style media="screen">
    .icon {
        width: 20px;
        height: 20px;
    }
    .likepanel {
        align-items: flex-end;
    }
</style>

<div id="{{instanceID}}" class="w3-container w3-teal">
    <span><p>POSTS</p></span>
    <span><button class="w3-btn" type="button" name="button" onclick="getPosts($('#{{instanceID}}'), '{{instanceID}}')">Refresh</button></span>
    <div id="posts{{instanceID}}" class="">
    {% include "getPosts-postList.html" %}
    </div>
    <script src="{% static 'js/src/likePost.js' %}"></script>
    <script src="{% static 'js/src/dislikePost.js' %}"></script>
    <script src="{% static 'js/src/getPosts.js' %}">

    </script>
</div>
