{% load static %}

<div id="{{instanceID}}" class="w3-container w3-teal">
    <p>TOPICS</p>
    <form class="w3-form" action="ajax/filterTopic/{{filterID}}" method="post" {{isHidden}}>
        {% csrf_token %}
        <input class="w3-input w3-margin-left" type="textbox" name="topicText">
        <input class="w3-btn w3-margin-right w3-margin-right" type="submit" value="Filter Topics">
    </form>

    <ul class="w3-ul w3-hoverable w3-hover-text-black w3-margin-bottom">
        {% for topic in topics %}
        <li>
            <div id="{{topic.id}}topic" class="w3-margin-bottom">
                {% if topic.following %}
                    {% if topic.followActive %}
                        <img id="{{topic.id}}following" alt="following" class="icon" src="{% static 'icons/tick_button.png' %}" onclick="followTopic('{{topic.followID}}','{{topic.id}}')">
                    {% else %}
                        <img id="{{topic.id}}following" alt="following" class="icon" src="{% static 'icons/tick_button.png' %}" onclick="">
                    {% endif %}
                {% else %}
                    {% if topic.followActive %}
                        <img id="{{topic.id}}following" alt="following" class="icon" src="{% static 'icons/follow_button.png' %}" onclick="followTopic('{{topic.followID}}','{{topic.id}}')">
                    {% else %}
                        <img id="{{topic.id}}following" alt="following" class="icon" src="{% static 'icons/follow_button.png' %}" onclick="">
                    {% endif %}
                {% endif %}
                <span class="">
                    {{topic.name}}
                </span>
            </div>
        </li>
        {% endfor %}
    </ul>

    <script type="text/javascript" src="{% static 'js/src/getPosts-filter.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/src/followTopic.js' %}"></script>

</div>
