{% extends "base.html" %}
{% block content %}

<form action="loadComponent" method="post">
    {% csrf_token %}
    <strong>Available Components: </strong><br/>
    {% for a in availableComponents%}
        <input type="checkbox" name="component" value="{{a}}">
            {{a}}
        </input>
        </br>
    {% endfor %}
    <input type="submit" value="Load">
</form>

<form action="addInstance" method="post">
    {% csrf_token %}
    <strong>Loaded Components: </strong><br/>
    {% for a,b in loadedComponents %}
        <input type="checkbox" name="component" value="{{a}}">
            {{a}} : {{b}}
        </input>
        </br>
    {% endfor %}

    <input type="submit" value="Add Instance">
</form>

<form action="removeInstance" method="post">
    {% csrf_token %}
    <strong>Instances: </strong><br/>
    {% for id,(name,x,y) in loadComponent%}
        <input type="checkbox" name="instance" value="{{id}}">
            {{name}} : id: {{id}}, x: {{x}}, y:{{y}}
        </input>
        </br>
    {% endfor %}

    <input type="submit" value="Remove Instance">
</form>

{% endblock %}
