<form action="loadComponent" method="post">
    {% csrf_token %}
    <strong>Available Components: </strong><br/>
    {% for a in availableComponents%}
        <input type="checkbox" name="component" value="{{a}}">
            {{a}}
        </input>
        </br>
    {% endfor %}
    <input type="submit" value="Load">
</form>

<form action="addInstance" method="post">
    {% csrf_token %}
    <strong>Loaded Components: </strong><br/>
    {% for a,b in loadedComponents %}
        <input type="radio" name="component" value="{{a}}">
            {{a}} : {{b}}
        </input>
        </br>
    {% endfor %}
    x: <input type="textbox" name="x"> <br/>
    y: <input type="textbox" name="y"> <br/>

    <input type="submit" value="Add Instance">
</form>

<form action="removeInstance" method="post">
    {% csrf_token %}
    <strong>Instances: </strong><br/>
    {% for id, instance in instances %}
        <input type="radio" name="instance" value="{{id}}">
            {{instance.0}} : id: {{id}}, x: {{instance.1}}, y:{{instance.2}}
        </input>
        </br>
        Method: <input type="textbox" name="methodName-{{id}}"> <br/>
        Args: <input type="textbox" name="args-{{id}}"> <br/>
        <input type="submit" formaction="callMethod/{{id}}" value="Call Method">
        <br/>
    {% endfor %}
    <input type="submit" value="Remove Instance">
</form>

<div>
        {{callMethodResult}}
</div>

<form action="saveDesign" method="post">
    {% csrf_token %}
    <input type="textbox" name="filePath"></input>
    <input type="submit" value="Save Design"></input>
</form>

<form action="loadDesign" method="post">
    {% csrf_token %}
    <input type="textbox" name="filePath">
    <input type="submit" value="Load Design">
</form>

<form action="execute" method="post">
    {% csrf_token %}
    <input type="submit" value="Execute">
</form>
<div>
    {{executionResult|safe}}
</div>

<table>
    {% for row in grid %}
    <tr>
        {% for col in row %}
        <td>{{col|safe}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
