{% extends "base.html" %}
{% block content %}

<style media="screen">
    ul {
        list-style-type: none;
    }
    div {
        display: block;
    }
    .formLi {
        float: left;
    }
    .errorlist {
        display: none;
    }
    .helptext {
        display: none;
    }
    .inputForms {
        margin-right: 25px;
    }
</style>

<div class="w3-container w3-teal w3-margin-top w3-margin-bottom">
    <ul id="initPage">
        <li class="formLi">
            <div class="inputForms">
                User Register:
                <form method="POST" action="register">
                    {% csrf_token %}
                    <table>
                        {{userregister}}
                    </table>
                    <input type="submit">
                </form>
            </div>
        </li>

        <li class="formLi">
            <div class="inputForms">
                User Login:
                <form method="POST" action="login">
                    {% csrf_token %}
                    <table>
                        {{userlogin}}
                    </table>
                    <input type="submit">
                </form>
            </div>
        </li>
    </ul>
</div>

<div>
    <a class="w3-btn" href="home" name="toMain" value="Main Page">Main Page</a>
</div>

{% endblock %}
